<div class="footer">
    <div class="inner-footer">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12 col-sm-4">
                    <p>
                        Column 1
                    </p>
                </div>
                <div class="col col-xs-12 col-sm-4">
                    <p>
                        Column 2
                    </p>
                </div>
                <div class="col col-xs-12 col-sm-4">
                    <p>
                        Column 3
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{ site.url }}/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/lib/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
