$url: "http://sebastian-meier.github.io/BerlinRefined";

body {
	padding-top: 50px;
}

h1{
	font-family: 'Raleway', sans-serif;
}

nav.navbar{
	height:64px;
	background-repeat: repeat-x;
	background-image: url("#{$url}/images/nav.png");
	background-size: 1px 65px;
	background-position: top;
	background-color: transparent;
	border:none;
	margin:0;
	font-family: 'Raleway', sans-serif;
}

.list-group-item span{
	padding-right:10px;
}

h2 span{
	font-size:70%;
	padding-right:10px;
}

.graphic.subline{
	text-align: center;
	font-family: Georgia, serif;
	font-size:11px;
	font-style: italic;
}

#navbar{
	border:none;
}

ul.dropdown-menu{
	border:none;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	background:none;
	color:#337ab7;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


.jumbotron{
	background-size:auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color:#ffffff;
	height:202.5px;
}

@media (min-width: 768px) {
	.jumbotron{
		height:405px;
	}
}

.footer{
	padding-top:100px;
}

.footer a{
	color:rgb(125, 192, 207);
}

.inner-footer{
	background-color:rgba(0,0,0,0.6);
	border-bottom:20px solid rgba(0,0,0,0.3);
	color:#fff;
	font-size:12px;
}

.inner-footer .col{
	padding: 30px 0;
}

.footer h4{
	padding-top:0;
	margin-top:0;
}

.footer p{
	max-width:80%;
}

/*SEARCH INTERFACE*/
#tagcloud{
	display:none;
}

table#searchtable{
	width:100%;
	tr{
		width:100%;
	}
	thead, tfoot{
		background-color:#ccc;
	}
}

#searchtable tr{
	border-bottom:1px solid #999;
	img{
		margin:5px 5px 5px 0;
	}
}

#searchslot{
	width:100%;
	font-size:20px;
	padding:5px 0px;
}

a.category{
	padding: 0 10px 0 0;
}

a.category.active{
	color:#000;
}

#categories{
	display: none;
}

/* Moabit Overview */

.datasets-group{
	h2 a{
		display:block;
		padding-top:100px;
	}
	clear:both;
	ul, li{
		list-style:none;
		margin:0;
		padding:0;
	}
	li{
		float:left;
		width:150px;
		height:250px;
		margin-right:10px;
		.dataset-thumb{
			width:100%;
			height:150px;
		}
		img{
			max-width:100%;
			max-height:100%;
		}
	}
}

th{
	text-transform: capitalize;
	strong{
		&.layer{
			display: block;
			padding-top:50px;
		}
	}
}

#moabit_map{
	width:65%;
	height:400px;
	float:left;
	margin-right: 5%;
}

#berlin_map{
	width:25%;
	height:400px;
	float:left;
}

img.legend{
	display:none;
}

img.legend.primary{
	display:block;
}

#description{
	clear:both;
	float:left;
	width:65%;
}

.legend{
	float:left;
	width:25%;
}

.legend img{
	max-width:100%;
}

.img{
	display:block;
	text-indent:-9000px;
	background-position:center;
	background-repeat: no-repeat;
}

.img-vislab{
	margin-top:10px;
	width:114px;
	height:27px;
	background-size: 114px 27px;
	background-image:url("#{$url}/images/vislab.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

	.img-vislab{background-image:url("#{$url}/images/vislab@2x.png");}


}
